body {
    max-width: 100%;
}
* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    max-width: 100%;
}

.left {
    color: #18232f;
    background-color:#dddddd71;
  width: 30%;
  min-height: 140rem;

}

.right {
  width: 67%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.header{
    background-color: #18232f;
    padding: 1rem;
     }
     p {
    font-family: 'EB+Garamond', Arial;
    line-height: 20px;
    }
    h1 {
        font-family: 'Marck Script', Arial;
        color: azure;
     
        }
    h2 {font-family: 'Marck Script', Arial;
        font-weight: 70;
        font-size: 36px;
        text-align: center;
        } 
     
.fotter{
    background-color: #18232f;
    margin: 0rem 0rem 0rem 0rem;
        }
        .fa {width: 2rem;
            border-radius: 10%;
            padding-right: .5rem;
        }
        .Hobbies{
            width: 5em;
            padding: 1rem;
        margin: .5rem;
            border: 3px solid black;
        background-color: azure;
        border-radius: 30%;
        }
        .social {
        width: 5em;
        text-align: center;
        padding: 1rem;
        margin: .5  rem;
        border: 3px solid black;
        background-color: #f0ffff;
        border-radius: 30%;
        }
        
    .container{
     border: 10px solid #18232f;
     border-radius: 20%;
     width: 50%;
     box-sizing: content-box;
     position: relative;
     padding: 1rem;
    }

    .left2{
        background-color: #f0ffff;    
    }
    .right2{
        color: azure;
        background-color: #18232f;
        left: 50%;
    }

.pagetitle {
text-align: center;
background-color: #dcdcdc;
border: 10px !important;
}






